/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#logo {
	position: relative;
	float: left;
	margin: 5px 10px 5px 0;
	font-size: 25px;
	font-weight: bold;
	color: rgb(0,0,0);
}

#loggedlogo {
	position: relative;
	float: left;
	margin: 5px 10px 5px 0;
	font-size: 20px;
	font-weight: bold;
	color: rgb(0,0,0);
}
#selectone {
	height: 25px;
}
#selecttwo {
	height: 25px;
	width: 120px;
}

#reparation_information_realname {
	text-align: center;
	min-height: 0px;
	height: 25px;
	width: 80px;
}
#reparation_information_cellphone {
	text-align: center;
	min-height: 0px;
	height: 25px;
	width: 100px;
}
#reparation_information_location {
	min-height: 0px;
	height: 25px;
	width: 160px;
}

#reparation_information_problem_desc {
	min-height: 0px;
	height: 25px;
	width: 343px;
}
#reparation_information_problem_id {
	height: 25px;
}

#logout{
	margin-top: 0px;
}

#title{
	width : 350px;
}
