/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#logo {
	position: relative;
	float: left;
	margin: 5px 10px 5px 0;
	font-size: 25px;
	font-weight: bold;
}

#logo:hover{
	text-decoration: none;
	color: #4183c4;
}
#logo:visited{
	text-decoration: none;
	color : rgb(0,0,0);
}

#loggedlogo{
	position: relative;
	float: left;
	margin: 5px 10px 5px 0;
	font-size: 20px;
	font-weight: bold;
}
#loggedlogo:visited{
	text-decoration: none;
	color : rgb(0,0,0);
}
#loggedlogo:hover{
	text-decoration: none;
	color:#4183c4;
}
